<div th:replace="~{header.html}"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Add Student</h5>
            <div class="col-6 mx-auto bg-dark p-4 text-light">
                <form th:action="@{/dashboard/addStudent}" method="post" enctype="multipart/form-data">
                    <label>Name:</label>
                    <input type="text" th:field="${studentDto.name}" placeholder="Name" class="form-control my-2">
                    <label>Gender:</label>
                    <select th:field="${studentDto.gender}" class="form-select my-2">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label >Cource:</label>
                    <select th:field="${studentDto.cources}" class="form-select my-2">
                        <option value="C Programming">C Programming</option>
                        <option value="C++ Programming">C++ Programming</option>
                        <option value="Web Development">Web Development</option>
                    </select>
                    <label>Profile: </label>
                    <input type="file" th:field="${studentDto.profile}" class="form-control my-2">
                    <button class="btn btn-outline-success">+ Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer.html}"></div>